services:
  db:
    image: postgres:18
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_network
  
  backend:
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD:-}
      DB_PASSWORD_FILE: ${POSTGRES_PASSWORD_FILE:-}

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
