services:
  db:
    env_file:
      - .env

  backend:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      - db

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
